// **************************************
// THEME COLOR MAP
// **************************************
/*
Color Wheel:
  Black: hsl(255, 0%, 0%)
  Dark Grey: hsl(237, 12%, 33%)
  Grey: hsl(240, 6%, 50%)
  White: hsl(255, 100%, 100%)
*/
$colors: (
  // Primary Project Color
  primary: (
    300: hsl(238, 29%, 16%)
  ),
  // Accent Project Color
  accent: (
    300: hsl(14, 88%, 65%)
  ),
  // Background Gradient One
  bg: (
    300: hsl(240, 73%, 65%)
  ),
  // Neutral Text Colors
  text: (
    main: hsl(255, 0%, 0%)
  )
);
