// **************************************
// FONT MAPS
// **************************************
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/*
Font properties

*/

$font-love: (
  size: (
    main: 1rem,
  ),
  weight: (
    main: 400,
  ),
  font: (
    main: "Arial" sans-serif,
  ),
  l-height: (
    main: 1.5,
  ),
);
