// **************************************
// BASE STYLES
// **************************************

@use "../utilities" as *;

/*-----BASE GLOBAL STYLES------*/
* {
  box-sizing: border-box;
}

html {
  font-size: px-to-rems(16px);
}

html,
body {
  @extend %body-properties;
}

/* 
**OPTIONAL**
To keep component based projects from touching the sides of the viewport only*/
body {
  width: calc(100% - 1.5rem);
  margin-inline: auto;
}

p {
  @extend %text-modules;
}

a {
  @extend %link-properties;
}
