// **************************************
// TYPOGRAPHY STYLES
// **************************************
@use "../utilities" as *;

/*----HEADING STYLES----*/
:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--fp-font-main);
}

// h1 styles
.title__primary {
  @extend %text-modules;
  @include text-prop(
    $size: clamp(1rem, 6vw, 1.5rem),
    $f-weight: 400,
    $color: var(--clr-text-color)
  );
}

// h2 styles
.title__secondary {
  @include text-prop(
    $size: clamp(0.9rem, 8vw, 1.2rem),
    $f-weight: 500,
    $color: var(--clr-text-color)
  );
  @extend %text-modules;
}

/*----CONTENT STYLES----*/
// p styles
.content {
  @include text-prop(
    $size: clamp(0.78rem, 6vw, 1rem),
    $f-weight: 800,
    $color: var(--clr-text-color)
  );
}
